<li>
    {{todo.title}}
    <form method="POST" action='/todo{{this.id}}?_method=DELETE'>
        <button type="submit">Usuń</button>
    </form>
{{!--
    <form method="POST" action='/edit{{this.id}}?_method=PUT'>
        <button type="submit">Edytuj</button>
    </form>
--}}
</li>