<h1>Todo list</h1>
<p>What are your aims today?</p>
<hr>
<h2>Lista rzeczy do zrobienia:</h2>
{{log todos}}
<ul>
    {{#each todos}}
        {{> todo todo=this }}
    {{/each}}
</ul>
<hr>
<h3>Dodaj nowe zadanie:</h3>
<form method="POST" action='/added'>
    <input type="text" name="title">
    <button type="submit">Dodaj</button>
</form>